.Project {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .80);
    height: 400px;
    width: 300px;
    margin: 20px;
    white-space: normal;
    transition: ease-in-out 150ms;
}

.Project:hover {
    background-color: white;
    scale: 1.1;
    cursor: pointer;
}

.Project-image {
    position: relative;
    margin: 0px 10px 10px 10px;
    width: 250px;
    border-radius: 4.7px;
}

.Project-title {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    margin-top: 15.5px;
    margin-bottom: 15.5px;
}

.Project-short, .Project-long {
    font-family: 'Monserrat', sans-serif;
    font-weight: 300;
    font-size: 17.2px;
    padding: 10px;
}

