.small {
  width: 300px;
  height: 400px;
}

.small:hover {
  scale: 95%;
  box-shadow: none;
}

.large {
  width: 600px;
  height: 900px;
  overflow-y: scroll;
}

.small .card-body {
  height: 250px;
}