

.App {
  text-align: center;
}

h2 {
  font-size: 45px;
  color: aliceblue;
}

body {
  background-color: black;
  color: black;
  background: url('../static/pexels-abby-kihano-226366.jpg');
  background-size: cover;
}
