#Landing {
    padding: 50px;
    text-align: left;
}

#Landing-name {
    color: white;
    font-size: 70px;
    margin-bottom: -30px;
}

#Landing-title {
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
    padding-left: 10px;
}

#Landing-bio {
    color: white;
    padding-left: 10px;
    margin-bottom: 0px;
    width: 500px;
}