#NavBar {
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    border: solid;
    border-color: white;
    border-radius: 5px;
    top: 10px;
    z-index: 10;
}

#NavBar button {
    background: none;
    border:none;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    color: red;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

#NavBar button:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    transition-duration: 100ms;
}